DemonstrationProject/Service References/CustomerDataWebService/CustomerDataWebService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4567/CustomerDataWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects" />
  <xs:element name="GetCustomerBill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects" minOccurs="0" name="GetCustomerBillResult" nillable="true" type="q1:RawCustomerBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmShowTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateofShowings" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmShowTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects" minOccurs="0" name="GetFilmShowTimesResult" nillable="true" type="q2:ArrayOfRawFilmShowTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>