DemonstrationProject/Service References/CustomerDataWebService/CustomerDataWebService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-52-33-19-179.us-west-2.compute.amazonaws.com/CustomerDataWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects" />
  <xs:element name="GetCustomerBill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects" minOccurs="0" name="GetCustomerBillResult" nillable="true" type="q1:RawCustomerBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>