DemonstrationProject/Service References/CustomerDataWebService/CustomerDataWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawFilmShowTimesJsonTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawFilmShowTimesJsonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShowTimes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowTimes" nillable="true" type="tns:ShowTimes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowTimes" nillable="true" type="tns:ArrayOfShowTimes" />
  <xs:complexType name="ShowTimes">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="theatre" nillable="true" type="tns:Theatre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowTimes" nillable="true" type="tns:ShowTimes" />
  <xs:complexType name="Theatre">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Theatre" nillable="true" type="tns:Theatre" />
</xs:schema>