DemonstrationProject/Service References/CustomerDataWebService/CustomerDataWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-52-33-19-179.us-west-2.compute.amazonaws.com/CustomerDataWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" />
  <xs:complexType name="RawCustomerBill">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" minOccurs="0" name="CallCharges" nillable="true" type="q1:CallCharges" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" minOccurs="0" name="Package" nillable="true" type="q2:Package" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" minOccurs="0" name="SkyStore" nillable="true" type="q3:SkyStore" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" minOccurs="0" name="Statement" nillable="true" type="q4:Statement" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RawCustomerBill" nillable="true" type="tns:RawCustomerBill" />
</xs:schema>