DemonstrationProject/Service References/CustomerDataWebService/CustomerDataWebService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4567/CustomerDataWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" />
  <xs:import schemaLocation="http://localhost:4567/CustomerDataWebService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:4567/CustomerDataWebService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawFilmShowTimesJsonTypes" />
  <xs:complexType name="RawCustomerBill">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" minOccurs="0" name="CallCharges" nillable="true" type="q1:CallCharges" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" minOccurs="0" name="Package" nillable="true" type="q2:Package" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" minOccurs="0" name="SkyStore" nillable="true" type="q3:SkyStore" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawCustomerBillJsonTypes" minOccurs="0" name="Statement" nillable="true" type="q4:Statement" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RawCustomerBill" nillable="true" type="tns:RawCustomerBill" />
  <xs:complexType name="ArrayOfRawFilmShowTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RawFilmShowTime" nillable="true" type="tns:RawFilmShowTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRawFilmShowTime" nillable="true" type="tns:ArrayOfRawFilmShowTime" />
  <xs:complexType name="RawFilmShowTime">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="directors" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="longDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="releaseYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="runTime" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DemoWebService.RawObjects.RawFilmShowTimesJsonTypes" minOccurs="0" name="showtimes" nillable="true" type="q6:ArrayOfShowTimes" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topCast" nillable="true" type="q7:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RawFilmShowTime" nillable="true" type="tns:RawFilmShowTime" />
</xs:schema>